In [1]:
import pandas as pd
import numpy as np
import os, json

# IN - TIẾN TRÌNH ĐẦU VÀO

### DỮ LIỆU ĐẦU VÀO:
1. PHẢI LÀ CÁC TẬP TIN .txt  .json  .csv .xls
2. THÔNG TIN TRONG CÁC TỆP DỮ LIỆU CHẮC CHẮN KHAI BÁO CHO DỰ ÁN CÔNG TRÌNH -CỤ THỂ LÀ THÔNG TIN PHÙ HỢP BIM
3. TIÊU CHUẨN DỮ LIỆU PHÙ HỢP BIM:
    3.0 CÁC TRƯỜNG THÔNG TIN CÁCH NHAU DẤU "_"
    3.1 TÊN TẬP TIN DỮ LIỆU ĐƯỢC ĐẶT TÊN THEO CẤU TRÚC CÁC TRƯỜNG SAU
        [MÃ DỰ ÁN]_[MÃ BỘ MÔN]_[MÃ KHU VỰC]_[MÃ TẦNG]_[MÃ NHÓM/PHÂN LOẠI]
    3.2 CÁC TRƯỜNG KHÔNG ĐƯỢC BỎ TRỐNG, THỨ TỰ CÁC TRƯỜNG MÃ PHẢI CỐ ĐỊNH VỊ TRÍ:
        KHÔNG XÁC ĐỊNH MÃ LÀ "XX"
        TỔNG THỂ TOÀN BỘ MÃ LÀ "ZZ"
    3.3 TOÀN BỘ NỘI DUNG CÁC TRƯỜNG ĐỀU IN HOA, in thường LÀ SAI THEO TIÊU CHUẨN NÀY
    3.4 TOÀN BỘ NỘI DUNG CÁC TRƯỜNG ĐỀU KHÔNG ĐƯỢC SỬ DỤNG 
        TIẾNG VIỆT CÓ DẤU
        CÁC KÝ TỰ ĐẶC BIỆT @ # / * - +
    3.5 VÍ DỤ 1 TÊN TẬP TIN
        CHG_S_BA_02F_CL.txt
        Được dịch ra là: Tập tin dữ liệu cho : Dự án Cộng Hòa Garden, Bộ môn Kết cấu, Khu vực Hầm, Tầng Hầm 2, Nhóm cấu kiện Cột

# PROCESS - TIẾN TRÌNH XỬ LÍ

In [17]:
#SERIE DICTIONARY

series = {
    "UniqueID":[1,2,2,3],
    "Dự án":['CHG']*4,
    "Bộ môn":['S']*4,
    "Khu vực":['BA']*4,
    "Tầng":['02B']*4,
    "Nhóm":['Columns']*4,
    "Tên":['A','B','C','D'],
    "Khối tích":[1,2,3,4]
}
series

{'UniqueID': [1, 2, 2, 3],
 'Dự án': ['CHG', 'CHG', 'CHG', 'CHG'],
 'Bộ môn': ['S', 'S', 'S', 'S'],
 'Khu vực': ['BA', 'BA', 'BA', 'BA'],
 'Tầng': ['02B', '02B', '02B', '02B'],
 'Nhóm': ['Columns', 'Columns', 'Columns', 'Columns'],
 'Tên': ['A', 'B', 'C', 'D'],
 'Khối tích': [1, 2, 3, 4]}

In [15]:
# SERIES LIST LIST
series2 = [[1,2,2,3],
           ['CHG']*4,
           ['S']*4,
           ['BA']*4,
           ['02B']*4,
           ['Columns']*4,
           ['A','B','C','D'],
           [1,2,3,4]
          ]
series2

[[1, 2, 2, 3],
 ['CHG', 'CHG', 'CHG', 'CHG'],
 ['S', 'S', 'S', 'S'],
 ['BA', 'BA', 'BA', 'BA'],
 ['02B', '02B', '02B', '02B'],
 ['Columns', 'Columns', 'Columns', 'Columns'],
 ['A', 'B', 'C', 'D'],
 [1, 2, 3, 4]]

In [3]:
df = pd.DataFrame(series)
df

   UniqueID Dự án Bộ môn Khu vực Tầng     Nhóm Tên  Khối tích
0         1   CHG      S      BA  02B  Columns   A          1
1         2   CHG      S      BA  02B  Columns   B          2
2         2   CHG      S      BA  02B  Columns   C          3
3         3   CHG      S      BA  02B  Columns   D          4

In [4]:
idx = df.index

for i in idx:
    print (i)

0
1
2
3

In [5]:
flagDup = idx.duplicated()
flagDup

array([False, False, False, False])

In [6]:
df.drop_duplicates("UniqueID",inplace = True)
df

   UniqueID Dự án Bộ môn Khu vực Tầng     Nhóm Tên  Khối tích
0         1   CHG      S      BA  02B  Columns   A          1
1         2   CHG      S      BA  02B  Columns   B          2
3         3   CHG      S      BA  02B  Columns   D          4

In [7]:
df2 = df.reindex(range(df.shape[0]),method = 'bfill') # REINDEX

In [8]:
df2.filter(items = ["Bộ môn","Tầng"])# lỌC CỘT

  Bộ môn Tầng
0      S  02B
1      S  02B
2      S  02B

In [9]:
df2.filter(regex = '^D',axis = 1)# lỌC CỘT regex

  Dự án
0   CHG
1   CHG
2   CHG

In [10]:
df2.filter(like = '0',axis = 0) # lọc hàng

   UniqueID Dự án Bộ môn Khu vực Tầng     Nhóm Tên  Khối tích
0         1   CHG      S      BA  02B  Columns   A          1

In [58]:
# dic = json.dumps(json.loads(df.to_json(orient = 'split')),indent = 4)
"""orient
‘split’ : dict like {‘index’ -> [index], ‘columns’ -> [columns], ‘data’ -> [values]}
‘records’ : list like [{column -> value}, … , {column -> value}]
‘index’ : dict like {index -> {column -> value}}
‘columns’ : dict like {column -> {index -> value}}
‘values’ : just the values array
‘table’ : dict like {‘schema’: {schema}, ‘data’: {data}}
Describing the data, where data component is like
"""
dic = json.loads(df.to_json(orient = 'records')) #### ==> records giúp phân tách thành dictionary hướng đối tượng DÒNG
json.dumps(dic, ensure_ascii=False)#,indent=4, sort_keys=True) #

'[{"UniqueID": 1, "Dự án": "CHG", "Bộ môn": "S", "Khu vực": "BA", "Tầng": "02B", "Nhóm": "Columns", "Tên": "A", "Khối tích": 1}, {"UniqueID": 2, "Dự án": "CHG", "Bộ môn": "S", "Khu vực": "BA", "Tầng": "02B", "Nhóm": "Columns", "Tên": "B", "Khối tích": 2}, {"UniqueID": 3, "Dự án": "CHG", "Bộ môn": "S", "Khu vực": "BA", "Tầng": "02B", "Nhóm": "Columns", "Tên": "D", "Khối tích": 4}]'

# OUT - TIẾN TRÌNH ĐẦU RA

In [56]:
with open("pandaTojosn.json", "w", encoding = "utf-8") as f:
    f.write(json.dumps(dic, ensure_ascii=False, indent=4, sort_keys=True))
    print("Thành công ghi dữ liệu JSON")

Thành công ghi dữ liệu JSON